@layer reset, base, layout, utility, component, override;

@layer reset { /* {{{ */
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body, h1, h2, h3, h4,
  figure, blockquote, dl, dd {
    margin-block-end: 0;
  }

  p {
    margin-block: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label, nav {
    line-height: 1.4;
  }

  /* Balance text wrapping on headings */
  h1, h2,
  h3, h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    display: block;
    block-size: auto;
    max-inline-size: 100%;
  }

  /* Inherit fonts for inputs and buttons */
  input, button,
  textarea, select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-block-size: 10em;
  }

  /* Make sure hidden property works on all elements, including SVG. */
  [hidden] {
    display: none;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }
} /* }}} */

@layer base { /* {{{ */
  @font-face {
    font-family: "AlbertSans";
    src: url(./assets/AlbertSans.woff2);
  }

  @font-face {
    font-family: "SourceSans3";
    src: url(./assets/SourceSans3.woff2);
  }

  @view-transition {
    navigation: auto;
  }

  :root {
    --max-page-width: 80rem; /* 1280px */
    --primary-accent-color: #C21F0A;
    --secondary-accent-color: #e04e2b;
    --background-color-light: #e7e4d3;
    --source-sans: "SourceSans3", Helvetica, Arial, sans-serif;
    --albert-sans: "AlbertSans", Helvetica, Arial, sans-serif;
  }

  body {
    margin: 0;
    font-family: var(--source-sans);
    font-size: clamp(1rem, calc(1.72vw + 0.25ch), 1.5rem);
    font-weight: 366;
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6, nav, .cta {
    font-family: var(--albert-sans);
    text-wrap: balance;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: -1%;
  }

  p + p {
    margin-block-start: 1lh;
  }

  a {
    text-decoration: none;
    color: var(--primary-accent-color);
  }

  a:not([class]) {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 1lh;
      block-size: 0.1em;
      inline-size: 100%;
      background-color: currentColor;
      transition: inset 150ms ease;
    }
    &:hover::after {
      inset-block-start: 1.25em;
    }
  }

  li::marker {
    color: var(--secondary-accent-color);
  }

  nav :is(ol, ul) {
    padding-inline: 0;
    margin-block: 0;
    font-size: 0.835em;
    font-weight: 700;
    list-style-type: none;
  }

  svg:not([width]) {
    inline-size: 1em;
    block-size: 1em;
  }

  abbr[title] {
    text-decoration: none;
  }
} /* }}} */

@layer utility { /* {{{ */
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
} /* }}} */

@layer layout { /* {{{ */
  body > header {
    display: grid;
    grid-template-areas:
      " . nav . "
      " . title . "
      " . callout . "
      " . portrait . ";
    grid-template-rows: calc(1.666em + 1lh + 2.5em) repeat(2, auto);
    gap: 0 1rem;

    & .mars-background {
      grid-column: 1 / -1;
      grid-row: 1 / span 2;
    }

    & .main-navigation {
      grid-area: nav;
      align-self: center;
    }

    & > h1 {
      grid-area: title;
      padding-block-end: 0.45lh;
    }

    & .portrait {
      grid-area: portrait;
      object-fit: contain;
      object-position: top;
    }

    & .callout {
      grid-area: callout;
      margin-block: 0.65lh;
    }
  }

  @media screen and (width >= 41.25em) {
    body > header {
      grid-template-areas:
        " . nav nav nav . "
        " . title . portrait . "
        " . callout . portrait .";
      grid-template-columns: 1fr minmax(auto, 23em) minmax(auto, 4.16em) 15.125em 1fr;

      & > .portrait {
        padding-inline-start: 0;
        object-position: center;
      }

      & > .callout {
        margin-block-end: 0;
      }
    }
  }

  .page-home > header {
    grid-template-areas:
      " . nav . "
      " . title . "
      " . callout . ";
    grid-template-columns: 1fr minmax(auto, 55rem) 1fr;
  }

  .main-navigation ul {
    display: flex;
    align-items: center;

    & .logo {
      margin-inline-end: auto;

      & a {
        display: flex;
        align-items: center;
        gap: 1ch;
      }

      & svg {
        inline-size: 1.5em;
      }
    }

    & li:not(.logo) + li::before {
      content: "•";
      padding-inline: 1ch;
    }
  }

  .layout-horizontal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 3ch;
  }
} /* }}} */

@layer component { /* {{{ */
  /* Page {{{2 */

  body > header,
  body > footer {
    color: white;
    background-color: var(--primary-accent-color);

    & a {
      color: white;
    }

    & a[aria-current="page"]::after {
      background-color: currentColor;
    }

    & .callout {
      color: black;
    }
  }

  .logo__link span,
  .main-navigation__link {
    position: relative;
  }

  .logo__link span::after,
  .main-navigation__link::after {
    content: "";
    display: block;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 1lh;
    block-size: 0.1em;
    inline-size: 100%;
    transition: background-color 150ms ease;
    background-color: transparent;
  }

  .logo__link:hover span::after,
  .main-navigation__link:hover::after {
    background-color: currentColor;
  }

  .main-navigation__link--has-icon::after {
    inline-size: calc(100% - 1.25em);
  }

  .main-navigation__link--has-icon svg {
    position: relative;
    inset-block-start: 0.15em;
  }

  .page-me > header {
    background-color: white;
  }

  .page-my-work > header {
    background-color: var(--background-color-light);
  }

  :where(#main-content section) {
    padding-inline: 1.2rem;
    padding-block: 2.5em;

    & > * {
      max-inline-size: 55rem;
      margin-inline: auto;
    }
  }

  :where(#main-content section:last-child) {
    padding-block-end: 6.25em;
  }

  .section-white {
    background-color: white;
  }

  .section-light {
    background-color: var(--background-color-light);
  }

  .mars-background {
    background-color: var(--primary-accent-color);
    background-image: url(./assets/bg-mars.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  .me-list-item {
    flex-grow: 1;
    flex-basis: 24ch;
  }

  /* }}} */

  /* Callout {{{2 */

  .callout {
    font-size: 1.667em;
    font-weight: 320;
  }

  /* }}} */

  /* Card {{{2 */

  .card-quote,
  .card {
    margin-block-start: 2.5em;
  }

  .card {
    position: relative;
    background-color: white;

    & > img {
      grid-area: image;
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }

    & > .cta {
      position: absolute;
      inset-inline-end: 0;
      inset-block-end: -1.25em;
    }
  }

  @media screen and (width >= 34em) {
    .card {
      display: grid;
      grid-template-areas: "image content";
      grid-template-columns: 20rem 1fr;
    }
  }

  .card__content {
    grid-area: content;
    padding-inline: 1.6em;
    padding-block-end: 2.16em;
  }

  .card__title {
    font-size: 1.25em;
    font-weight: 600;
  }

  .card__description {
    margin-block-start: 1em;
  }

  /* }}} */

  /* Card quote {{{2 */

  .card-quote {
    padding-block-start: 1rem;
    background-color: white;
    border: 1px solid var(--secondary-accent-color);

    & blockquote {
      margin-inline: 0;
      margin-block: 1.5em 1em;
    }

    & blockquote::before {
      content: '“';
      display: block;
      font-family: var(--albert-sans);
      font-size: 1.8333em;
      line-height: 1;
      color: var(--secondary-accent-color);
    }
  }

  .card-quote__content {
    grid-area: content;
    margin-inline: 2.5rem;
    margin-block-end: 1rem;

    & > p {
      font-size: 0.75em;
      font-weight: 366;
    }
  }

  .card-quote__image {
    grid-area: image;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    margin-block-start: 1.25rem;
  }

  @media screen and (width >= 42rem) {
    .card-quote {
      display: grid;
      grid-template-areas: "content image";
      grid-template-columns: 1fr 20rem;
      padding-block: 0;
    }

    .card-quote__image {
      margin-block-start: 0;
      margin-inline: 0;
    }
  }

  cite {
    font-style: normal;
  }

  cite span + span::before {
    content: " • ";
    color: var(--secondary-accent-color);
  }

  /* }}} */

  /* CTA {{{2 */

  .cta {
    display: flex;
    align-items: center;
    gap: 1ch;
    padding-inline: 1.4em;
    padding-block: 0.75em;
    block-size: min-content;
    font-size: 0.9em;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: black;
    transition: transform 150ms ease, box-shadow 150ms ease;

    &:hover {
      transform: translateY(-0.25em);
      box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.43);
    }

    &:has(use[href="#arrow-icon"]) {
      & > svg {
        inline-size: 1.15em;
        block-size: 0.75em;
        transition: transform 150ms ease;
      }

      &:hover svg {
        transform: translateX(0.5ch);
      }
    }
  }

  /* }}} */

  /* Icon list {{{2 */

  .icon-list {
    font-size: 1.25em;
    font-weight: 600;
    font-family: var(--albert-sans);
    padding-inline-start: 0;
    margin-block-start: 4.16em;
    gap: 1ch;
    max-inline-size: 65rem;

    & > li {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      inline-size: min-content;
      min-inline-size: 7ch;
      gap: 1.58em;
    }
  }

  /* }}} */

  /* Letter {{{2 */

  .letter {
    padding-block: 2.5em;
    padding-inline: 2.08em;
    margin-block-start: 2.5em;
  }

  /* }}} */

  /* Our clients {{{2 */
  /* TODO Delete this after refactoring layouts to be more flexible. */

  .our-clients {
    margin-block-start: 1.875rem;
    row-gap: 0;

    & ul {
      margin-block: 0;
      flex: 1 1 26rem;
    }

    & strong {
      font-family: var(--albert-sans);
      font-weight: 599;
    }
  }

  /* }}} */

  /* Footer {{{2 */

  .site-footer {
    position: relative;
    padding-block: 4.5em 2.29em;
    padding-inline: 4.16em;
    background-image: url(./assets/bg-mars.jpg);
    background-size: cover;
    background-attachment: fixed;

    & a {
      font-weight: 700;
    }

    & .cta {
      position: absolute;
      inset-inline-start: 50%;
      inset-block: -2em;
      transform: translateX(-50%);
      justify-content: center;
      inline-size: calc(100vw - 2.4rem);
      max-inline-size: 55rem;
      font-size: 1.25em;
      font-weight: 600;
      padding-block: 1.1em;
    }

    & .cta:hover {
      transform: translate(-50%, -0.5ch);
    }

    & h2 {
      font-size: 1.67em;
      margin-block-start: 1.6em;
    }

    & .contact {
      font-size: 0.84em;
      margin-block-start: 2.2em;
    }
  }

  .social-list {
    font-size: 0.84em;
    padding-inline-start: 0;
    inline-size: max-content;
    margin-block-start: 2.2em;

    & > li + li {
      margin-block-start: 1.5em;
    }

    & > li a {
      display: flex;
      align-items: center;
      gap: 1ch;
    }

    & > li a span {
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 1lh;
        block-size: 0.1em;
        inline-size: 100%;
        background-color: currentColor;
        transition: inset 150ms ease;
      }
    }

    & > li a:hover span::after {
      inset-block-start: 1.25em;
    }
  }

  @media screen and (width >= 25em) {
    .site-footer__inner {
      display: grid;
      grid-template-columns: auto min-content;
      gap: 3ch;
      max-inline-size: 45em;
      margin-inline: auto;
    }

    .social-list {
      margin-block-start: 0.8rem;
    }
  }

  /* }}} */

  /* Logo {{{2 */

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1turn);
    }
  }

  .logo-graphic {
    overflow: visible;
  }

  .logo-graphic__orbs {
    transform-origin: center;
    animation: spin 30s 0s linear infinite;
  }

  /* }}} */

} /* }}} */

/* vim: fdm=marker
*/
